.secret-writing {
font-size: 5px;
}

.page-art {
    margin: auto;
      display: block;
      width:max-content;
}

.homePage {
  text-align: center;
}

.image {
  background-color: rgb(218, 117, 97)
}